<section id="contact">
	<div class="contact">
		<div class="container">

			<div class="row">
				<div class="col-md-6">
					<p>
						Do you want to go deeper than what’s possible in a free 20 minutes call? In addition to empathic listening I’m also available for coaching, relationship counseling, conflict mediation, communication workshops, and group decision facilitation. Contact me to schedule a free get-to-know-each-other call.
					</p>
				</div>
				<div class="col-md-6">
					<ul class="list-inline contact-social-buttons">
						<li>
							<a href="mailto:{{ site.email }}" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">{{ site.email }}</span></a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.contact -->