<section id="testimonials" class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2 class="section-heading">What others have to say</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="testimonial">
            <p>
              “I found myself very stuck in my emotions and I couldn’t really tell what was happening – I just felt so overwhelmed and didn’t know what to do. In Andreas I found someone who was able to hold space, ask the right questions for me to actually move through my emotions and become aware of what was really going on beneath the surface. This session was so helpful to move and release my emotions and getting clear what was going on inside of me – I felt so much better afterwards.”
              <br>
              <br>
              — Nadine
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial">
            <p>
              “I had a fight with my girlfriend, on the same topic as so many times before. Stuck. Andreas supported both of us, through a combination of individual conversations with him and talks together. He is empathic, clear and warm, and helped us to disentangle emotions, facts and narratives. When we got into fighting territory, he slowed us back down, helping us to find the underlying pain and express that, instead of accusing each other. Recommended!”
              <br>
              <br>
              — Joris
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial">
            <p>
              “In a way, I think one of the most supporting things that I found from you was just hearing whatever came to your mind, actually bringing yourself in as you and not just as an empty ‘mediator’. Like, your honesty, what you notice.”
              <br>
              <br>
              — Elia
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  