<section id="services">
<!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <div class="lead">
                        Do you wish your therapist or coach were available now, when you’re actually struggling? Would you like to talk about your issue when it is actually happening instead of saving it for an appointment next week?
                        <br><br>
                        I’m now starting the Empathy-Hotline. Often times I don’t need an expert to figure things out for me; I just need someone who listens and understands what I’m experiencing in this moment. I can be that someone for you.
                        <br><br>
                        Any problem, big or small, seems lighter when understood by someone else. That dreadful application you need to send today can turn into a fun mission. A vague stress and anxiety can become clear and manageable. And to be heard when struggling with a sudden loss or setback can transform despair into a sweet mourning. That’s the magic of empathy.
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/ipad.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How does it work?</h2>
                    <div class="lead">
                        As with any hotline you don’t make an appointment; just call when you need it, and I’ll be there for you when I’m available. The first 20 minutes are free. 
                        <br><br>
                        To start with I’ll be available between x and y every weekday. You can find my “reception hours” here.
                        <br><br>
                        Join this WhatsApp group to stay updated. I’ll share when there are changes to my availability there, as well as updates about how this project evolves. 
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/ipad.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About money</h2>
                    <div class="lead">
                        I’d like this project to run on a pay-it-forward basis. That is to say, I am able to take your call because others have already paid for your time. After a call I will ask you to choose how much you’d like to contribute to pay for the next person. I will keep going as long as this chain of giving and receiving stays alive.                         
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/ipad.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Who am I?</h2>
                    <div class="lead">
                        Andreas is a completely uncertified counselor, mediator, facilitator, gestalt practitioner, coach, and, perhaps first and foremost, human companion. In fact, he likes to say “don’t believe anything I say. Find out for yourself.” His many years of work on himself more than compensates for his lack of actual experience working with others. Having spent a lifetime specializing in shutting down in order to avoid telling the truth, guessing other people’s expectations, and second-guessing his own intentions, he knows better than anyone how to deal with depression, anxiety, and lack of confidence. 
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">My training</h2>
                    <div class="lead">
                        <ul>
                            <li>NVC Intermediate Course — Orianne Boyer</li>
                            <li>Conflict to Connection — John Kinyon</li>
                            <li>NVC Advanced course — Yoram Mosenzon</li>
                            <li>Embodying & Teaching NVC Year Course — Yoram Mosenzon</li>
                            <li>Mediation Year Course — Yoram Mosenzon</li>
                            <li>Mediation Intensive — Yoram Mosenzon</li>
                            <li>Embracing shame and vulnerability — Liv Larsson</li>
                            <li>9-day International Intensive Training in NVC — Slovenia</li>
                            <li>Radical Honesty Practitioner Program — Honesty Europe</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
