<section id="services">
<!-- Page Content -->
    <div class="content-section-a" id="empathy">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h2 class="section-heading">Support when you need it</h2>
                    <div class="lead">
                        Do you wish your therapist or coach were available <em>now</em>, when you’re actually struggling? Would you like to talk about what you're going through when it is actually happening instead of saving it for an appointment next week?
                        <br><br>
                        Often times I don’t need an expert to figure things out for me; I just need someone who listens and understands what I’m experiencing in this moment. I can be that someone for you.
                        <br><br>
                        Welcome to the Empathy Hotline! Any problem, big or small, seems lighter when understood by someone else. That dreadful application you need to send today can turn into a fun mission. A vague stress and anxiety can become clear and manageable. And to be heard when overwhelmed by a sudden loss or setback can transform despair into a sweet mourning. That’s the magic of empathy.
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="img/listening.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a" id="how">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h2 class="section-heading">How does it work?</h2>
                    <div class="lead">
                        As with any hotline you don’t make an appointment; just call me when you need it, and I’ll be there for you. A session is free (see how this works below) and lasts up to 20 minutes.
                        <br><br>
                        <a href="https://wa.me/46768630309" target="_blank" class="btn btn-default btn-lg btn-call"><i class="fa-brands fa-whatsapp fa-fw"></i> <span class="network-name">Call me now</span></a>
                        <br><br>
                        To start with I’ll be available between x and y every weekday. You can find my “reception hours” here.
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                  <img class="img-responsive" src="img/services/ipad.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a" id="who">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h2 class="section-heading">Who am I?</h2>
                    <div class="lead">
                        Andreas is a completely uncertified counselor, mediator, facilitator, gestalt practitioner, coach, and, perhaps first and foremost, human companion. In fact, he likes to say “don’t believe anything I say. Find out for yourself.” His many years of work on himself more than compensates for his lack of actual experience working with others. Having spent a lifetime specializing in shutting down in order to avoid telling the truth, guessing other people’s expectations, and second-guessing his own intentions, he knows better than anyone how to deal with depression, anxiety, and lack of confidence. 
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <h2 class="section-heading">My training</h2>
                    <div class="lead">
                        <ul>
                            <li>NVC Intermediate Course — Orianne Boyer</li>
                            <li>Conflict to Connection — John Kinyon</li>
                            <li>NVC Advanced course — Yoram Mosenzon</li>
                            <li>Embodying & Teaching NVC Year Course — Yoram Mosenzon</li>
                            <li>Mediation Year Course — Yoram Mosenzon</li>
                            <li>Mediation Intensive — Yoram Mosenzon</li>
                            <li>Embracing shame and vulnerability — Liv Larsson</li>
                            <li>9-day International Intensive Training in NVC — CNVC</li>
                            <li>Radical Honesty Practitioner Program — Honesty Europe</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a" id="money">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h2 class="section-heading">Pay it forward!</h2>
                    <div class="lead">
                        I’d like this project to run on a pay-it-forward basis. That is to say, I am able to take your call because others have already paid for your time. After a call you can choose if and how much you’d like to contribute to pay for the next person. I will keep going as long as this chain of giving and receiving stays alive. You may of course also donate without having had a call yourself, simply for the joy of supporting others.
                        <br><br>
                        <a href="https://www.buymeacoffee.com/ahultgren" target="_blank" class="btn btn-default btn-lg btn-donate"><i class="fa fa-hand-holding-heart fa-fw"></i> <span class="network-name">Pay for someone's session</span></a>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="img/free-hugs.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</section>
