<section id="testimonials" class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="section-heading">What others have to say</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="testimonial">
          <p>Coming soon</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <p>Coming soon</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <p>
            I had a fight with my girlfriend, on the same topic as so many times before. Stuck. Andreas supported both of us, through a combination of individual conversations with him and talks together. He is empathic, clear and warm, and helped us to disentangle emotions, facts and narratives. When we got into fighting territory, he slowed us back down, helping us to find the underlying pain and express that, instead of accusing each other. Recommended! 
            <br>
            <br>
            — Joris
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
